@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="PlaceHolderHere"></div>
    <a class="btn btn-primary" data-toggle="ajax-modal" data-target="#ModalTeste" data-url="@Url.Action("Create","Home")">Abrir Modal</a>
</div>